{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
  {{if .Feeds}}
    <div class="card-deck">
    {{range .Feeds}}
      <div class="card border-primary mb-3" style="min-width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{.ArticleTitle}}</h5>
          <p class="card-text">{{.Author}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{humanDate .PublishedDate}}</small>
          <a href="{{.ArticleUrl}}" class="btn btn-primary stretched-link">Read full post</a>
        </div>
      </div>
    {{end}}
    </div>
  {{else}}
        <p>There's nothing to see here... yet!</p>
  {{end}}
{{end}}